$background: #202123;
$primary-red: #FF5B37;
$white: #fff;

@font-face {
  font-family: "PFDinTextCompPro-Regular";
  src: url("assets/fonts/PF Din Text Comp Pro/PFDinTextCompPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDinTextCompPro-Medium";
  src: url("assets/fonts/PF Din Text Comp Pro/PFDinTextCompPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFDinTextCompPro-XBlack";
  src: url("assets/fonts/PF Din Text Comp Pro/PFDinTextCompPro-XBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
